@import "tailwindcss";
@plugin "daisyui";





body {
  font-family: "Anton", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  
}



.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

